<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Email</th>
    </tr>
  </thead>
  
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= current_user == article.user ? (link_to article.title, article) : article.title %></td>
        <td><%= article.description %></td>        
        <td><%= article.user.email %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
