
<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    
    <%# TODO  ERB snippets kurulacak>
    <%#= f.association :user %>
    <%#= current_user.id if current_user %>
    <%#= @user.first.id if current_user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit if user_signed_in? %>
  </div>
<% end %>
