<h1>Editing Article</h1>

<% if current_user.id == @article.user_id %>
    <%= render 'form', article: @article %>
    <% else %> 
    <%= render 'unallowed' %>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
